/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
	border: 0;
}

.panel-political-parties {
	display: none;
}

.panel-purple {
	border-color: #6A205F;
}

.panel-purple .panel-heading {
	border-color: #6A205F;
	color: #fff;
	background-color: #6A205F;
}

.panel-purple a {
	color: #6A205F;
}

.panel-purple a:hover {
	color: #b52b27;
}

.panel-blue {
	border-color: #006EC6;
}

.panel-blue .panel-heading {
	border-color: #006EC6;
	color: #fff;
	background-color: #006EC6;
}

.panel-blue a {
	color: #006EC6;
}

.panel-blue a:hover {
	color: #b52b27;
}

.panel-red {
	border-color: #D20804;
}

.panel-red .panel-heading {
	border-color: #D20804;
	color: #fff;
	background-color: #D20804;
}

.panel-red a {
	color: #D20804;
}

.panel-red a:hover {
	color: #b52b27;
}

.panel-orange {
	border-color: #F38725;
}

.panel-orange .panel-heading {
	border-color: #F38725;
	color: #fff;
	background-color: #F38725;
}

.panel-orange a {
	color: #F38725;
}

.panel-orange a:hover {
	color: #b52b27;
}

@media ( min-width : 1150px) {
	.panel-political-parties {
		display: block;
	}
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	display: none;
}

.spain-map {
	text-align: center;
	width: 100%;
	height: 250px
}

@media ( min-width : 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		padding-top: 0px;
		overflow-x: hidden;
		overflow-y: auto;
		/* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-header {
		float: left;
		padding: 15px;
		text-align: center;
		width: 100%;
	}
	.navbar-brand {
		float: none;
	}
	.spain-map {
		text-align: center;
		width: 100%;
		height: 420px;
	}
	#twitterTrends>ul {
		margin-bottom: 0px !important;
	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}

.nav-sidebar>li>a {
	padding-right: 20px;
	padding-left: 20px;
}

.nav-sidebar>.active>a, .nav-sidebar>.active>a:hover, .nav-sidebar>.active>a:focus
	{
	color: #fff;
	background-color: #428bca;
}

/*
 * Main content
 */
.main {
	padding-top: 18px;
	padding-bottom: 5px;
}

@media ( min-width : 768px) {
	.main {
		padding-right: 15px;
		padding-left: 15px;
	}
}

.main .page-header {
	margin-top: 0;
}

.fixed-panel {
	min-height: 311px;
	max-height: 311px;
	overflow-y: scroll;
}

#timelineTwitter {
	background-color: rgba(85, 172, 238, 0.3);
	display: block;
}

#timelineFacebook {
	background-color: rgba(59, 89, 152, 0.7);
	display: none;
}

.panel-tweet {
	margin-bottom: 10px !important;
}

.panel-tweet>.panel-heading {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.panel-tweet>.panel-body {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.img-panel-heading {
	width: 28px;
	height: 28px;
	margin-right: 10px;
}

/*Panel tabs*/
.panel-timeline {
	padding: 0px !important;
}

.panel-tabs {
	position: relative;
	clear: both;
	border-bottom: 1px solid transparent;
}

.panel-tabs>li {
	float: left;
	margin-bottom: -1px;
}

.panel-tabs>li>a {
	border: 1px solid transparent;
	color: #ffffff;
}

.panel-tabs>li>a:hover {
	border-color: transparent;
	color: #ffffff;
	background-color: transparent;
}

.panel-tabs>li.twitter>a, .panel-tabs>li.twitter>a:hover, .panel-tabs>li.twitter>a:focus
	{
	color: #fff;
	cursor: default;
	background-color: rgba(85, 172, 238, 1);
	border-bottom-color: transparent;
}

.panel-tabs>li.twitter>a:hover {
	background-color: rgba(85, 172, 238, 0.8);
}

.panel-tabs>li.facebook>a, .panel-tabs>li.facebook>a:hover, .panel-tabs>li.facebook>a:focus
	{
	color: #fff;
	cursor: default;
	background-color: rgba(59, 89, 152, 1);
	border-bottom-color: transparent;
}

.panel-tabs>li.facebook>a:hover {
	background-color: rgba(59, 89, 152, 0.3);
}

.panel-knob {
	margin: 95px;
}

.input-group-addon {
	min-width: 150px;
	text-align: left;
}

#geoTweet {
	margin-top: 10px;
}

#geoTweet>div>.panel-body {
	min-height: 60px;
}