<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Politic App</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"
	th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" />

<!-- Custom styles for this template -->
<link th:href="@{/css/dashboard.css}" href="../static/css/dashboard.css"
	rel="stylesheet" />

<!-- jVectorMap core CSS -->
<link th:href="@{/webjars/jvectormap/2.0.1/jquery-jvectormap.css}"
	rel="stylesheet" />

</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Politic App</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					<li class="active"><a href="#">Estadísticas</a></li>
					<li><a href="search">Buscar</a></li>
					<li><a href="polparty#podemos">Podemos</a></li>
					<li><a href="polparty#pp">Partido Popular</a></li>
					<li><a href="polparty#psoe">Partido Socialista</a></li>
					<li><a href="polparty#ciudadanos">Ciudadanos</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="/">Home</a></li>
					<li class="active"><a href="#">Estadísticas</a></li>
					<li><a href="search">Buscar</a></li>
					<li><a href="polparty#podemos">Podemos</a></li>
					<li><a href="polparty#pp">Partido Popular</a></li>
					<li><a href="polparty#psoe">Partido Socialista</a></li>
					<li><a href="polparty#ciudadanos">Ciudadanos</a></li>
				</ul>
			</div>
			<div
				class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div id="resumeParties"></div>
				<div class="col-sm-12 col-md-12">
					<canvas id="evolutionChart" style="width: 100%; height: 400px"></canvas>
				</div>
				<div class="col-sm-12 col-md-12">
					<canvas id="evolutionChart2" style="width: 100%; height: 400px"></canvas>
				</div>
			</div>
		</div>
	</div>

	<!-- Placed at the end of the document so the pages load faster -->
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"
		th:src="@{/webjars/jquery/2.1.3/jquery.min.js}"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/3.3.1/js/bootstrap.min.js}"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/mustachejs/0.8.2/mustache.js"
		th:src="@{/webjars/mustachejs/0.8.2/mustache.js}"></script>
	<script th:src="@{/webjars/chartjs/1.0.2/Chart.min.js}"
		src="../static/js/chartjs/1.0.2/Chart.min.js"></script>
	<script th:src="@{/js/chart.js}" src="../static/js/chart.js"></script>
	<script id="resumeBlock" type="x-tmpl-mustache">
		{{#.}}
		<div class="col-sm-6 col-md-3">
			<div class="panel panel-{{color}}">
				<div class="panel-heading">
					<img
						src="{{logo}}"
						style="width: 32px; height: 32px;" />
					<b style="margin-left:10px">{{name}}</b>
				</div>
				<div class="panel-footer">
					<h3 class="panel-title">
						<a href="{{webpage}}">Visitar página Web</a></h3>
				</div>
			</div>
		</div>
		{{/.}}
	</script>
</body>
</html>
