<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Politic App</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"
	th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" />

<!-- Custom styles for this template -->
<link th:href="@{/css/dashboard.css}" href="../static/css/dashboard.css"
	rel="stylesheet" />

<!-- jVectorMap core CSS -->
<link th:href="@{/webjars/jvectormap/2.0.1/jquery-jvectormap.css}"
	rel="stylesheet" />

</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Politic App</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					<li><a href="chart">Estadísticas</a></li>
					<li><a href="search">Buscar</a></li>
					<li><a href="#" id="podemos" class="party">Podemos</a></li>
					<li><a href="#" id="pp" class="party">Partido Popular</a></li>
					<li><a href="#" id="psoe" class="party">Partido Socialista</a></li>
					<li><a href="#" id="ciudadanos" class="party">Ciudadanos</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="/">Home</a></li>
					<li><a href="chart">Estadísticas</a></li>
					<li><a href="search">Buscar</a></li>
					<li><a href="#" id="podemos" class="party">Podemos</a></li>
					<li><a href="#" id="pp" class="party">Partido Popular</a></li>
					<li><a href="#" id="psoe" class="party">Partido Socialista</a></li>
					<li><a href="#" id="ciudadanos" class="party">Ciudadanos</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div class="col-sm-12 col-md-7">
					<div class="thumbnail polPartyInfo">
						<div id="partyInfo"></div>
						<div class="caption">
							<canvas id="evolutionChart" style="width: 100%; height: 400px"></canvas>
						</div>						
					</div>
				</div>
				<div class="col-sm-12 col-md-5">
					<div class="panel panel-primary">
						<div class="panel-heading panel-timeline">
							<div class="panel-title">
								<ul class="nav panel-tabs">
									<li class="twitter" style="width: 50%;"><a id="twitter">
											<img src="img/twitter_logo.png"
											style="float: left; width: 34px; height: 24px; margin-left: 15px; margin-right: 15px;" />
											<div>Twitter</div>
									</a></li>
									<li class="facebook" style="width: 50%;"><a id="facebook"
										class="text-center;"> <img src="img/fb_logo.png"
											style="float: left; width: 24px; height: 24px; margin-left: 15px; margin-right: 15px;" />
											<div>Facebook</div>
									</a></li>
								</ul>
							</div>
						</div>
						<div id="timelineTwitter" class="panel-body fixed-panel">
							<div class="text-center panel-knob">
								<input class="knob" data-max="50" data-displayInput="false" />
							</div>
						</div>
						<div id="timelineFacebook" class="panel-body fixed-panel">
							<div class="text-center panel-knob">
								<input class="knob" data-max="50" data-displayInput="false" />
							</div>
						</div>
					</div>
					<div id="twitterTrends"></div>
				</div>
				<div id="map" style="width: 600px; height: 400px"></div>
			</div>
		</div>
	</div>

	<!-- Placed at the end of the document so the pages load faster -->
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"
		th:src="@{/webjars/jquery/2.1.3/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery-knob/1.2.11/jquery.knob.min.js}"
		src="../static/js/jquery-knob/1.2.11/jquery.knob.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/3.3.1/js/bootstrap.min.js}"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/mustachejs/0.8.2/mustache.js"
		th:src="@{/webjars/mustachejs/0.8.2/mustache.js}"></script>
	<script
		src="http://cdn.jsdelivr.net/webjars/sockjs-client/0.3.4-1/sockjs.js"
		th:src="@{/webjars/sockjs-client/0.3.4-1/sockjs.js}"></script>
	<script
		src="http://cdn.jsdelivr.net/webjars/stomp-websocket/2.3.1-1/stomp.js"
		th:src="@{/webjars/stomp-websocket/2.3.1-1/stomp.js}"></script>
	<script th:src="@{/js/polparty.js}" src="../static/js/polparty.js"></script>
	<script th:src="@{/webjars/chartjs/1.0.2/Chart.min.js}"
		src="../static/js/chartjs/1.0.2/Chart.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/leaflet/0.7/leaflet.js"
		th:src="@{/	webjars/leaflet/0.7/leaflet.js}"></script>
		
	<script id="twitterBlock" type="x-tmpl-mustache">
		{{#tweets}}
			<div class="panel panel-default panel-tweet">
				<div class="panel-heading">
					<img class="img-rounded img-panel-heading"
						src="{{profileImageUrl}}" />
					<a target="_blank" href="https://twitter.com/{{fromUser}}"> 
						<b>@{{fromUser}}</b>
					</a>
				</div>
				<div class="panel-body">
					{{{unmodifiedText}}}
				</div>
			</div>
		{{/tweets}}
	</script>
	<script id="trendsBlock" type="x-tmpl-mustache">
		<ul class="list-group">
		{{#.}}
  			<li class="list-group-item">
    			<span class="badge">{{count}}</span>
				<a target="_blank" href="https://twitter.com/hashtag/{{trend}}">#{{trend}}</a>
  			</li>
		{{/.}}
		</ul>
	</script>
	<script id="facebookBlock" type="x-tmpl-mustache">
		{{#.}}
			<div class="panel panel-default panel-tweet">
				<div class="panel-heading">
					<a target="_blank" href="https://www.facebook.com/{{from.id}}"> 
						<b>@{{from.name}}</b>
					</a>
				</div>
				<div class="panel-body">
					{{{message}}}
				</div>
			</div>
		{{/.}}
	</script>
	
	<script id="partyInfoBlock" type="x-tmpl-mustache">
		<div class="media caption">
			<div class="media-left media-middle">
				<img class="media-object" style="width:70px; height:70px" src="{{logo}}" />
			</div>
			<div class="media-body" style="min-width:205px">
				<h3 class="media-heading">{{name}}</h3>
				<span>{{location.street}}</span><br/>
				<span>{{location.city}},{{location.country}}</span><br/>
				<span>Teléfono: {{phone}}</span><br/>
				<span>Web: <a href="{{webpage}}">{{webpage}}</a></span>
			</div>
			<div class="media-right media-middle hidden-xs" style="padding-right:0px; padding-left:100px;">
				<canvas id="apollosChart" style="width: 70%; height: 129px;"></canvas>
			</div>
		</div>
	</script>
</body>
</html>
