<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Politic App</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"
	th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" />

<!-- Custom styles for this template -->
<link th:href="@{/css/dashboard.css}" href="../static/css/dashboard.css"
	rel="stylesheet" />

<!-- jVectorMap core CSS -->
<link th:href="@{/webjars/jvectormap/2.0.1/jquery-jvectormap.css}"
	rel="stylesheet" />

</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Politic App</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					<li class="active"><a href="#">Buscar</a></li>
					<li><a href="polparty#podemos">Podemos</a></li>
					<li><a href="polparty#pp">Partido Popular</a></li>
					<li><a href="polparty#psoe">Partido Socialista</a></li>
					<li><a href="polparty#ciudadanos">Ciudadanos</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="/">Home</a></li>
					<li class="active"><a href="#">Buscar</a></li>
					<li><a href="polparty#podemos">Podemos</a></li>
					<li><a href="polparty#pp">Partido Popular</a></li>
					<li><a href="polparty#psoe">Partido Socialista</a></li>
					<li><a href="polparty#ciudadanos">Ciudadanos</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h3 class="text-center">Buscar últimos tweets</h3>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3 main">
				<form id="search-form">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">Partidos (Opcional)</div>
							<select multiple="true" class="form-control" name="political-party">
								<option value="ahorapodemos">Podemos</option>
								<option value="pp">Partido Popular</option>
								<option value="psoe">Partido Socialista</option>
								<option value="ciudadanoscs">Ciudadanos</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">Usuario (Opcional)</div>
							<input type="text" name="user" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">Palabras clave</div>
							<input type="text" id="key-words" name="key-words" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">Ordenar tweets</div>
							<select name="sort-by" class="form-control">
								<option value="date">Por fecha</option>
								<option value="retweets">Por retweets</option>
								<option value="favorites">Por favoritos</option>
							</select>
						</div>
					</div>
					<div
						class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 main">
						<button id="search-btn" class="btn btn-primary btn-lg" style="width:100%">Buscar</button>
					</div>
				</form>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3 main">
				<div id="results"></div>
			</div>
		</div>
	</div>

	<!-- Placed at the end of the document so the pages load faster -->
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"
		th:src="@{/webjars/jquery/2.1.3/jquery.min.js}"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/3.3.1/js/bootstrap.min.js}"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/mustachejs/0.8.2/mustache.js"
		th:src="@{/webjars/mustachejs/0.8.2/mustache.js}"></script>
	<script th:src="@{/js/search.js}" src="../static/js/search.js"></script>
	
	<script id="twitterMsn" type="x-tmpl-mustache">
		{{#.}}
			<div class="panel panel-default panel-tweet">
				<div class="panel-heading">
					<img class="img-rounded img-panel-heading"
						src="{{profileImageUrl}}" />
					<a target="_blank" href="https://twitter.com/{{fromUser}}"> 
						<b>@{{fromUser}}</b>
					</a>
					<b style="float:right; margin-top:5px; margin-right:10px; color: #FFC600">Fav: <b style="color:#757575">{{favoriteCount}}</b></b>
					<b style="float:right; margin-top:5px; margin-right:10px; color: #8EDD65">Ret: <b style="color:#757575">{{retweetCount}}</b></b>
				</div>
				<div class="panel-body">
					{{{unmodifiedText}}}
				</div>
			</div>
		{{/.}}
	</script>
</body>
</html>
